html, body { margin:0; padding:0; height:100%; }
#map { width:100%; height:100%; }

#panel {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  background:white;
  padding:10px;
  border-radius:6px;
  box-shadow:0 0 5px rgba(0,0,0,.3);
  font-size:13px;
}

#legend {
  position:absolute;
  bottom:20px;
  right:10px;
  z-index:1000;
  background:white;
  padding:10px;
  border-radius:6px;
  box-shadow:0 0 5px rgba(0,0,0,.3);
  font-size:13px;
}

.item { margin-bottom:4px; }

.box {
  width:14px;
  height:14px;
  display:inline-block;
  margin-right:6px;
  border:1px solid #333;
}

.box.cref { background:#4B1D6B; }
.box.paft { background:#9A6FB0; }
.box.sin  { background:#BDBDBD; }

#exportMap {
  width:100%;
  margin-top:6px;
  padding:6px;
  background:#4B1D6B;
  color:white;
  border:none;
  border-radius:4px;
  cursor:pointer;
}
